<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdn.tailwindcss.com"></script>
</head>
<body class="">

    <div class="text-5xl font-semibold px-5 py-3 flex justify-between items-center">
        <h1 class="text">Welcome, {{ type }} <span class="text-green-500">{{ user.name }}</span></h1>
        <div class="btns flex items-center justify-center gap-3">
            <a href="/logout" class="text-2xl font-semibold bg-red-500 px-3 py-1 text-white rounded-lg">Logout</a>
            {% if type == "user" %}
                <a href="/query_generator" class="text-2xl font-semibold bg-red-500 px-3 py-1 text-white rounded-lg">Generate a query</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <br>
    <p class="text-lg"> <span class="px-5 font-semibold text-blue-500">Email-ID:</span> {{user.email}} </p>
    <p class="text-lg"> <span class="px-5 font-semibold text-blue-500">Address:</span> {{user.address}} </p>
    <p class="text-lg"> <span class="px-5 font-semibold text-blue-500">Phone:</span> {{user.phone}} </p>
    {% if type == "lawyer" %}
        <p class="text-lg"> <span class="px-5 font-semibold text-blue-500">Bar-ID:</span> {{user.bar_id}} </p>
    {% endif %}
    {% if type == "user" %}
        <p class="text-lg"> <span class="px-5 font-semibold text-blue-500">Aadhar-ID:</span> {{user.aadhar_id}} </p>
    {% endif %}
    <br>
    <hr>

    <main class="grid place-items-center h-1/2 p-10">
        <form action="" method="POST">
            {% csrf_token %}
            {% if type == "lawyer" %}
            <h1 class="text-3xl p-3">All queries are: </h1>
                <div class="big-container grid grid-cols-3 gap-4">
                    {% for query in main_info %}
                        <div class="container border border-black p-5 flex flex-col gap-3 justify-between rounded-lg">
                            <h1 class="text-2xl font-bold">{{query.title}}</h1>
                            <div class="info space-y-3">
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">More info:</p> <p class="col-span-3">{{query.description}}</p> </div>
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">User:</p> <p class="col-span-3">{{query.user_id}}</p> </div>
                            </div>
                            <input name="{{query.query_id}}" type="submit" value="Select" class="w-full bg-yellow-400 px-5 py-1 font-semibold text-white text-2xl rounded-lg">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if type == "user" %}
                <h1 class="text-3xl p-3">Available lawyers are: </h1>
                <div class="big-container grid grid-cols-3 gap-4">
                    {% for lawyer in main_info %}
                        <div class="container border border-black p-5 flex flex-col gap-3 justify-between rounded-lg">
                            <h1 class="text-2xl font-bold">Advocate {{ lawyer.name }}</h1>
                            <div class="info">
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">Email-ID:</p> <p class="col-span-3">{{lawyer.email}}</p> </div>
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">Address:</p> <p class="col-span-3">{{lawyer.address}}</p> </div>
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">Phone:</p> <p class="col-span-3">{{lawyer.phone}}</p> </div>
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">Bar-ID:</p> <p class="col-span-3">{{lawyer.bar_id}}</p> </div>
                                <div class="text-lg grid grid-cols-4"> <p class="font-semibold text-rose-500">Expertise:</p>
                                    <div class="col-span-3 flex flex-wrap overflow-hidden gap-1">
                                        {% for exp in lawyer.expertise %}
                                            <h3 class="px-2 py-1 text-sm font-medium bg-emerald-500 text-white w-fit h-fit rounded-lg"> {{exp}} </h3>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <input name="{{lawyer.id}}" type="submit" value="Contact" class="w-full bg-yellow-400 px-5 py-1 font-semibold text-white text-2xl rounded-lg">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>


    </main>


</body>
</html>