<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.tailwindcss.com"></script>
</head>
<body class="h-screen w-screen flex items-center justify-center bg-stone-900 text-white">
    
    <div class="real_form text-center tracking-tight w-1/4">
        <h1 class="text-3xl font-bold">Register as a user</h1>
        <p class="text-lg text-stone-500">Enter your vaild credentials to register</p>
        <form action="" method="POST" class="flex flex-col text-left mt-5 gap-1">
            {% csrf_token %}
            <label for="email" class="text-lg">Email-ID:</label>
            <input type="email" name="email" id="email" class="px-5 py-1 bg-transparent border border-white rounded-lg">

            <label for="password" class="text-lg mt-2">Password:</label>
            <input type="password" name="password" id="password" class="px-5 py-1 bg-transparent border border-white rounded-lg">

            <label for="aadhar" class="text-lg mt-2">Aadhar ID:</label>
            <input type="number" name="aadhar" id="aadhar" class="px-5 py-1 bg-transparent border border-white rounded-lg">

            <label for="name" class="text-lg mt-2">Name:</label>
            <input type="text" name="name" id="name" class="px-5 py-1 bg-transparent border border-white rounded-lg">

            <label for="phone" class="text-lg mt-2">Phone Number:</label>
            <input type="number" name="phone" id="phone" class="px-5 py-1 bg-transparent border border-white rounded-lg">

            <label for="address" class="text-lg mt-2">Address:</label>
            <textarea name="address" id="address" class="px-5 py-1 bg-transparent border border-white rounded-lg"></textarea>

            <input type="submit" class="bg-white text-stone-950 py-1 mt-3 rounded-lg font-medium text-xl tracking-tighter" value="Register yourself">

        </form>
    </div>    

</body>
</html>